<section id="banners view">
  <h2 class="titulo">
    Banner: Visualizar
    <span class="float-right">
      <fa-icon class="mx-2 cursor text-primary" [icon]="['fas', 'circle-chevron-left']" (click)="onBack()"></fa-icon>
    </span>
  </h2>
  <ng-container *ngIf="(item$ | async) as item">
    <div class="row">
      <div class="col-md-7 col-lg-8 col-xl-9">
        <ng-container>
          <h4>{{ item.name }}</h4>
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Banner">
              <ng-template ngbPanelContent>
                <img [src]="item.picture" class="img-fluid" [alt]="item.name">
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Información">
              <ng-template ngbPanelContent>
                <table class="table table-condesed table-hover">
                  <tbody>
                    <tr>
                      <th>Fecha Inicio</th>
                      <td>{{ item.start }}</td>
                      <th>Fecha Final</th>
                      <td>{{ item.end }}</td>
                    </tr>
                    <tr>
                      <th>Interno</th>
                      <td>{{ getInterno(item.url) }}</td>
                      <th>URL</th>
                      <td>
                        <ng-container *ngIf="setUrl(item.url); else internal">
                          <a [href]="item.url" target="_blank">{{ item.url }}</a>
                        </ng-container>
                        <ng-template #internal>
                          <a [routerLink]="['/pages', 'companies', 'view', item.url]">{{ item.url }}</a>
                        </ng-template>
                      </td>
                    </tr>
                    <tr>
                      <th>Ubicación</th>
                      <td>
                        ({{ item.position.latitude.toFixed(4) }},
                        {{ item.position.longitude.toFixed(4) }})
                      </td>
                      <th>Distancia</th>
                      <td>{{ item.position.distance }}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </ng-container>
      </div>
      <div class="col-md-5 col-lg-4 col-xl-3">
        <div class="d-grid gap-2">
          <button class="btn btn-primary" (click)="onEdit(item._id)">Editar</button>
          <button class="btn btn-danger" (click)="onDelete(item._id)">Eliminar</button>
        </div>
      </div>
    </div>
  </ng-container>
</section>
