<ng-container *ngIf="(user$ | async) as user">
  <h3 class="titulo">{{ user.first_name }} {{ user.last_name }}</h3>
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <p>
              <strong>Teléfono:</strong>
              +({{ user?.country?.phone_code }}) {{ user?.phone }}
            </p>
          </div>
          <div class="mb-3">
            <p>
              <strong>Correo Electronico:</strong>
              {{ user.email }}
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <p>
              <strong>Pais:</strong>
              {{ user?.country?.name }}
            </p>
          </div>
          <div class="mb-3">
            <p>
              <strong>Fecha Creación:</strong>
              {{ user.createdAt | date: 'dd-MM-YYYY' }}
            </p>
          </div>
        </div>
      </div>
      <h6 class="mt-4"><strong>Token Push</strong></h6>
      <div class="code mt-3">
        {{ user.push }}
      </div>
    </div>
    <div class="col-md-5 align-self-center">
      <div class="total">
        <p>
          <span>
            {{ totalServices }}
            {{ totalServices > 1 ? ' Servicios' : ' Servicio' }}
          </span>
        </p>
      </div>
      <div class="rating">
        <p>{{ (user.score) === 0 ? (user.score) : (user.score).toFixed(1) }}
          <fa-icon class="mx-1 star" [icon]="['fas', 'star']" class="text-warning"></fa-icon>
        </p>
      </div>
    </div>
  </div>
</ng-container>
<div class="services mt-5">
  <h3 class="titulo mb-2">Servicios</h3>
  <div class="row justify-content-center">
    <div class="col-xl-12">
      <app-datatable
        [table]="table"
        [options]="dtOptions"
        [actions]="['view']"
        [data]="(services$ | async)"
        (setView)="onView($event)"
      ></app-datatable>
    </div>
  </div>
</div>
