<ng-container>
  <div class="row">
    <div class="col-md-6 col-lg-4rr">
      <div class="card box-dash">
        <h3>Usuários en el Sistema</h3>
        <ng-container *ngIf="userSistema && userSistema.data &&userSistema.type && userSistema.options">
          <google-chart style="width: 100%; height: 300px;"
            [type]="userSistema.type"
            [data]="userSistema.data"
            [options]="userSistema.options"
          ></google-chart>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
