<div class="container">
  <h2 class="titulo">
    Banners
  </h2>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div id="map" *ngIf="mapLoaded | async">
        <div>
          <p *ngIf="display">
            (Lat,Lng): ({{display?.lat}}, {{ display?.lng }})
          </p>
        </div>
        <google-map height="550px" width="100%" [options]="options">
          <map-marker [position]="marker"
            [options]="markerOptions" (mapDragend)="setOnAddress($event)">
          <map-circle [center]="marker" [radius]="radius"></map-circle>
        </map-marker>
        </google-map>
      </div>
      <ng-container *ngIf="!activeListCompanies">
        <div id="companies">
          <app-datatable
          [table]="table"
          [options]="dtOptions"
          [actions]="[]"
          [data]="(items$ | async)"
          [status]="false"
        ></app-datatable>
        </div>
      </ng-container>

    </div>
    <div class="col-lg-4">
      <div id="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <formly-form
            [form]="form"
            [model]="model"
            [fields]="fields">
          </formly-form>
          <div id="actions" class="row g-2">
            <div class="col-md-6">
              <button class="btn btn-primary w-100" type="submit">
                salvar
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-outline-danger w-100" type="reset">
                cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
