<div class="container">
  <h2 class="titulo">
    {{ title }}
    <span class="float-right">
      <fa-icon class="mx-2 cursor text-primary" [icon]="['fas', 'plus']" (click)="onCreate()"></fa-icon>
    </span>
  </h2>
  <div class="row justify-content-center">
    <div class="col-xl-12">
      <app-datatable
        [table]="table"
        [options]="dtOptions"
        [actions]="['view', 'edit']"
        [data]="(items$ | async)"
        (setView)="onView($event)"
        (setEdit)="onEdit($event)"
      ></app-datatable>
    </div>
  </div>
</div>
